* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.filled-button {
  background: #3882f6;
  color: white;
  margin-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  background: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

main {
  flex: 1;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  padding: 48px;
  background: #1f2937;
}

.hero-section hgroup {
  width: 290px;
}

.hero-statement {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.placeholder-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
  padding: 64px;
}

.information-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.information-header {
  font-weight: 800;
  font-size: 36px;
}

.items-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 3rem;
  margin-bottom: 64px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 132px;
}

.info-item-image {
  border: 3px solid #3882f6;
  border-radius: 8px;
  width: 132px;
  height: 128px;
}

.info-item-subtext {
  text-align: center;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 132px;
  background: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-section strong {
  align-self: end;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: #1f2937;
  color: #e5e7eb;
}
